.order-content {
    margin: 45px auto;
    max-width: 85%;
    width: 100%;
    min-height: 300px;
    background-color: rgba(255,255,255,1);
    padding: 40px;
    box-sizing: border-box;
    overflow: auto;
}

.order-top {
    margin-bottom: 30px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.order-header {
    font-weight: 600;
    color: #000;
    font-size: 22px;
}

.cart-order {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.order {
    display: table-row;
    width: 15%;
    height: 100px;
    vertical-align: middle;
}


.order-image {
    display: table-cell;
    padding-right: 20px;
    vertical-align: middle;
}

.image {
    width: 140px;
    height: 140px;
    background-size: cover;
    border-radius: 7px;
    background-color: #eee;
    background-position: center;
}


.order-id, .order-productname, .order-username, .order-userphone, .order-usercity, .order-userstreet, .order-userhouse, .order-usercomment  {
    display: table-cell;
    font-size: 18px;
    padding: 15px;
    font-weight: 600;
    vertical-align: middle;
    color: #000;
}


.usercomment {
    height: 140px;
    width: 300px;
}
