<div class="container">

    <div class="col-lg-12" *ngIf="orders.length == 0">
        <div class="emptySpace80 emptySpace-lt50 emptySpace-md35 emptySpace-xs0"></div>
        <div class="sectionTitle fadeInTop d-flex flex-column justify-content-center align-items-center"
            style="min-height: 35vh">
            <p>Кошик порожній.</p>
        </div>
    </div>

    <div class="cart-content" *ngIf="orders.length > 0">
        <div class="cart-top">
            <div class="cart-header">Ваше замовлення:</div>
        </div>

        <div class="cart-products" *ngFor="let order of orders">
            <div class="product">

                <!-- картинка товару -->
                <div class="product-image">
                    <div class="image" [style.backgroundImage]="'url('+ order.image +')'"></div>
                </div>

                <!-- назва товару -->
                <div class="product-title">{{order.nameUA}}</div>

                <!-- кнопочки + - -->
                <div class="product-plusminus">
                    <span class="product-minus" (click)="productCount(order, false)">
                        <img src="assets/images/minus.svg" alt="">
                    </span>
                    <span class="product-quantity"> {{order.count}} </span>
                    <span class="product-plus" (click)="productCount(order, true)">
                        <img src="assets/images/plus.svg" alt="">
                    </span>
                </div>

                <!-- Гривні -->
                <div class="product-amount">{{order.price}} грн.</div>

                <!-- Видалти-->
                <div class="product-delete" (click)="deleteProduct(order)">
                    <img src="assets/images/circle_remove.svg" alt="">
                </div>

            </div>
        </div>

        <!-- Зальна сума -->
        <div class="cart-bottom">
            <div class="productSum">
                <span class="cartHrn">Сума: {{ totalPrice }} грн.</span>
            </div>
        </div>


        <!-- Заповнення даних -->
        <div class="order-form">
            <form>
                <span><input class="userName" [(ngModel)]="userName" name="userName" type="text"
                        placeholder="Імя*"></span>

                <span><input class="userPhone" [(ngModel)]="userPhone" name="userPhone" type="number"
                        placeholder="Телефон*"></span>

                <!-- <span><input class="userCity" [(ngModel)]="userCity" name="userAddress" type="text"
                        placeholder="Місто*"></span> -->

                <span><input class="userStreet" [(ngModel)]="userStreet" name="userAddress" type="text"
                        placeholder="Вулиця*"></span>

                <span><input class="userHouse" [(ngModel)]="userHouse" name="userHouse" type="number"
                        placeholder="Будинок"></span>

                <span><input class="userComment" [(ngModel)]="userComment" name="userComment" type="textarea"
                        placeholder="Коментар"></span>
            </form>


            <!-- РЕЙТИНГ -->
            <!-- <ng-container *ngFor="let star of stars">
                <app-star [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave($event)"
                  (bigClick)="updateRating(star)">
                </app-star>
            </ng-container> -->
        </div>


        <!-- Загальна сума -->
        <div class="total-amount">
            <div class="cart-total-amount" data-aos="fade-up">
                <span class="total-sum">Підсумкова сума: {{totalPrice}} грн.</span>
                <!-- <span class="total-sum-hrn">грн.</span> -->
            </div>
        </div>

        <div class="button-submit" data-aos="fade-down-left">
            <button class="submit" (click)="addOrder()">ОФОРМИТИ ЗАМОВЛЕННЯ</button>
        </div>


        
            <!-- Галочка -->
            <div class="dd" [(ngModel)]="gal" name="gal">
                <svg>
                    <symbol id="tick-icon" viewBox="0 0 515.556 515.556">
                        <path
                            d="m0 274.226 176.549 176.886 339.007-338.672-48.67-47.997-290.337 290-128.553-128.552z" />
                    </symbol>
                </svg>
                <svg>
                    <use href="#tick-icon" width="75" height="75" fill="#09ac1e"></use>
                </svg>
            </div> 

        



    </div>
    <agm-map id="map" style="height: 560px" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
        <agm-polygon [paths]="pathsGreen" [fillColor]="greenPolygonColor" [strokeColor]="greenStrokeColor"
            [fillOpacity]="fillOpacity"></agm-polygon>
        <agm-polygon [paths]="pathsYellow" [fillColor]="yellowPolygonColor" [strokeColor]="yellowStrokeColor"
            [fillOpacity]="fillOpacity"></agm-polygon>
    </agm-map>
</div>