<!-- <div class="footer">
    <footer>
        <div class="main-footer">
            <div class="footer-text">
                <p><strong>Львів, вул. І.Франка, 61</strong></p>
                <p>тел/tel: +380(96)19 66 986</p>
                <p>delfo@gmail.com</p>
            </div>
        </div>
        <div class="footer-subtext">
            <p>© 2020 DELFO</p>
            <p>Усі права захищено</p>
        </div>
    </footer>
</div> -->
















<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="footer-widget food-menu">
                    <h3>МЕНЮ</h3>
                    <div class="main-menu">
                        <nav class="navbar navbar-default">
                            <div>
                                <ul class="nav navbar-nav">
                                    <li class="menu-item">
                                        <a [routerLink]="[ 'menu/pizza']">Піца</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="[ 'menu/salad']">Салати</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="[ 'menu/pasta']">Паста</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="[ 'menu/ravioili']">Равіолі</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="[ 'menu/dessert']">Десерти</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget about-menu">
                    <h3>Про нас</h3>
                    <div class="main-menu">
                        <nav class="navbar navbar-default">
                            <div class="menu">
                                <ul class="nav navbar-nav">
                                    <li class="menu-item">
                                        <a href="/pro-nas" class="">Про нас</a>
                                    </li>
                                    <li class="menu-item">
                                        <a [routerLink]="[ 'sales']">Акції</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/yak-zamoviti" class="">Змінити</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/contacts" class="">Контакти</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget f-contacts">
                    <h3>Телефони для замовлень</h3>
                    <div class="phones">
                        <div>
                            <p class="footer-phone">+38 (096) 19-66-986</p>
                        </div>
                        <div>
                            <p class="footer-phone">+38 (096) 12-22-555</p>
                        </div>
                        <div>
                            <p class="footer-phone">+38 (093) 37-37-999</p>
                        </div>
                    </div>
                    <div class="subscribe">
                        <a target="_blank" rel="noreferrer" href="https://www.facebook.com/origami.lviv.ua/"
                            class="fb"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="footer-widget f-info">
                    <div class="footer-logo">
                        <img src="assets/images/logo.png" alt="Delfo logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-title">
        <h2 class="year">© 2020 <span class="delfo">Delfo</span></h2>
        <p class="footer-rights">Усі права захищено</p>
    </div>
</footer>