@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


footer {
    height: 50vh;
    background-color: rgb(245, 244, 244);
    margin-top: 45px;
}

.container {
    width: 85%;
    height: 80%;
}

.row {
    height: 100%;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: space-between;
}

.footer-widget {
    height: 100%;
    padding-top: 35px;
}


h3 {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid rgb(250, 64, 64);
    padding-bottom: 25px;
}

.footer-phone {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    padding: 8px 0;
}


a {
    text-decoration: none;
    color: black;
    outline: none;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

li {
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
}

.footer-title {
    text-align: center;
}

.delfo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.year, .footer-rights {
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
}










