@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');


.user-block {
  position: absolute;
  top: 15px;
  left: 80%;
}

.admin {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: rgb(104, 88, 88);
}


.cart{
  position: fixed;
  top: 15px;
  left: 90%;
}

.basket img{
  width: 38px;
  height: 38px;
  display: table;
  margin: 0 auto -5px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition: opacity .250s linear;
  -o-transition: opacity .250s linear;
  transition: opacity .250s linear;
}

i {
  color: rgb(94, 94, 94);
}
 

.basketPrice {
  font-size: 13px;
  margin: 10px 20px 0 0;
  max-width: 43px;
  min-width: 38px;
  text-align: right;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  font-weight: 700;
  color: white;
}



.menu {
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 40%;
  text-align: right;
  font-size: 24px;
  margin-right: 25px;
  color: rgb(163, 163, 163);
}
ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}


.main-menu span {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.4em;
  vertical-align: middle;
  line-height: 12px;
  color: rgb(100, 100, 100);
  padding-right: 8px;
  opacity: 0;
  transition: 1.9s;
}

.cyrcle-o {
  background-color: rgb(109, 109, 109);
  line-height: 40px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

ul li span:hover {
  opacity: 1;
  transition: .3s;
}