body:not(.mobile) .animateSection.animated .fadeInTop {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .container {
    margin-top: 100px;
  }
  
  body:not(.mobile) .animateSection .fadeInTop {
    opacity: 0;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
  }
  
  .sectionTitle {
    position: relative;
    text-align: center;

  }
  
  h1.as {
    font-size: 55px;
    line-height: 65px;
    color: #0e0e0e;
    font-family: "Comfortaa";
    font-weight: 700;
    margin: 0;
    text-align: center;
  }
  
  .emptySpace-lt40 {
    height: 40px;
  }
  
  body:not(.mobile) .productItemAnimate.animated {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .350s linear, -webkit-transform .350s linear;
    transition: opacity .350s linear, -webkit-transform .350s linear;
    -o-transition: opacity .350s linear, transform .350s linear;
    transition: opacity .350s linear, transform .350s linear;
    transition: opacity .350s linear, transform .350s linear, -webkit-transform .350s linear;
  }
  
  body:not(.mobile) .productItemAnimate {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  
  .productThumbnail {
    position: relative;
    text-align: center;
  }
  
  .productThumbnail:before {
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    background: #fff;
    opacity: 0;
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 11px 6px rgba(0, 0, 0, 0.06);
    -webkit-transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    content: '';
  }
  
  .productThumbnail .productImage {
    position: relative;
    display: block;
    width: 100%;
    min-height: 513px;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  
  
  .productThumbnail .productImage .productHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0;
    -webkit-transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  body:not(.mobile) .productItemAnimate.animated .productDescription {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .250s linear .150s, -webkit-transform .250s linear .150s;
    transition: opacity .250s linear .150s, -webkit-transform .250s linear .150s;
    -o-transition: opacity .250s linear .150s, transform .250s linear .150s;
    transition: opacity .250s linear .150s, transform .250s linear .150s;
    transition: opacity .250s linear .150s, transform .250s linear .150s, -webkit-transform .250s linear .150s;
  }
  
  body:not(.mobile) .productItemAnimate .productOrder, body:not(.mobile) .productItemAnimate .productDescription {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
  }
  
  
  
  .productThumbnail .productDescription {
    position: relative;
    padding: 25px 0 20px;
    margin-bottom: 20px;
  }
  
  .normall {
    font-size: 15px;
    line-height: 26px;
  }
  
  body:not(.mobile) .productItemAnimate.animated .productDescription:before, body:not(.mobile) .productItemAnimate.animated .productDescription:after {
    width: 50%;
  }
  
  body:not(.mobile) .productItemAnimate .productDescription:before, body:not(.mobile) .productItemAnimate .productDescription:after {
    width: 0;
  }
  
  .productThumbnail .productDescription:before, .productThumbnail .productDescription:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 1px;
    background: #e6e6e6;
    -webkit-transition: opacity 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, width 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
    -o-transition: opacity 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, width 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
    transition: opacity 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, width 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
    content: '';
  }
  
  .productThumbnail .productDescription .as {
    min-height: 60px;
    max-height: 60px;
  }
  
  
  
  .productThumbnail .productDescription .as {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    min-height: 80px;
    max-height: 80px;
  }
  
  h5.as {
    font-size: 24px;
    line-height: 30px;
  }
  
  .productThumbnail .productDescription .as a {
    -webkit-transition: color .250s linear;
    -o-transition: color .250s linear;
    transition: color .250s linear;
  }
  
  .productThumbnail .productDescription p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    min-height: 52px;
    max-height: 52px;
  }
  
  .productItemAnimate.animated .productDescription:before, body:not(.mobile) .productItemAnimate.animated .productDescription:after {
    width: 50%;
  }
  
  body:not(.mobile) .productItemAnimate .productDescription:before, body:not(.mobile) .productItemAnimate .productDescription:after {
    width: 0;
  }
  
  .productThumbnail .productDescription:after {
    right: 50%;
    left: auto;
  }
  
  .productThumbnail .productDescription:before, .productThumbnail .productDescription:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 1px;
    background: #e6e6e6;
    -webkit-transition: opacity 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, width 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
    -o-transition: opacity 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, width 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
    transition: opacity 0.65s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s, width 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
    content: '';
  }
  
  body:not(.mobile) .productItemAnimate.animated .productOrder {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity .250s linear .300s, -webkit-transform .250s linear .300s;
    transition: opacity .250s linear .300s, -webkit-transform .250s linear .300s;
    -o-transition: opacity .250s linear .300s, transform .250s linear .300s;
    transition: opacity .250s linear .300s, transform .250s linear .300s;
    transition: opacity .250s linear .300s, transform .250s linear .300s, -webkit-transform .250s linear .300s;
  }
  
  body:not(.mobile) .productItemAnimate .productOrder, body:not(.mobile) .productItemAnimate .productDescription {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
  }
  
  .productThumbnail .productOrder {
    position: relative;
    display: inline-block;
    padding: 0 23px;
    margin-bottom: 23px;
  }
  
  .productThumbnail .productOrder .productPrice {
    font-family: "Comfortaa";
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
  }
  
  .productThumbnail .productOrder .productPrice span {
    font-size: 28px;
    line-height: 36px;
    color: #c80000;
    margin-right: 4px;
  }
  
  .productThumbnail .productOrder .productPrice i {
    font-size: 20px;
    line-height: 24px;
  }
  
  .productCountWrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
  }
  
  .productCount {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .productCount.lessProduct:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    background: #c80000;
    -webkit-transition: background .250s linear;
    -o-transition: background .250s linear;
    transition: background .250s linear;
    content: '';
  }
  
  .productCountWrapper input {
    padding: 0 5px;
  }
  
  .productCountWrapper input {
    font-size: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-weight: 500;
    padding: 0 6px;
    font-family: "Roboto";
    border: 1px solid #eaeaea;
  }
  
  input, textarea, select {
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    border: none;
    margin: 0;
    width: 100%;
    font-family: 'Arial';
  }
  
  .productCount.moreProduct {
    left: auto;
    right: 0;
  }
  
  .productCount.moreProduct:before, .productCount.moreProduct:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    background: #c80000;
    -webkit-transition: background .250s linear;
    -o-transition: background .250s linear;
    transition: background .250s linear;
    content: '';
  }
  
  .productCount.moreProduct:after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  .productCount.moreProduct:before, .productCount.moreProduct:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    background: #c80000;
    -webkit-transition: background .250s linear;
    -o-transition: background .250s linear;
    transition: background .250s linear;
    content: '';
  }
  
  .productInfoWrapp .button {
    font-size: 13px;
    padding: 6px 16px 6px;
    margin-left: 25px;
    vertical-align: middle;
  }
  
  .button {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-family: "Comfortaa";
    border: 1px solid #c80000;
    padding: 16px 41px 14px;
    font-size: 15px;
    line-height: 16px;
    color: #fefefe;
    background: #c80000;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background .250s linear, color .250s linear, border .250s linear;
    -o-transition: background .250s linear, color .250s linear, border .250s linear;
    transition: background .250s linear, color .250s linear, border .250s linear;
  }
  
  .button:hover {
    background: transparent;
    color: #c80000;
  }
  
  @media (max-width: 1500px) {
    .productThumbnail .productDescription {
      padding: 15px 0 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 1500px) {
    .productThumbnail .productDescription .as {
      min-height: 64px;
    }
  }
  
  @media (min-width: 1024px) {
    .productThumbnail:hover:not(.style4):before {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @media (max-width: 1500px) {
    .productThumbnail .productImage {
      min-height: 360px;
    }
  }
  @media (min-width: 1024px) {
    .productDescription .as a:hover, .productMoreInfo a:hover {
      color: #c80000;
    }
  }
  
  @media (max-width: 1500px) {
    .productThumbnail .productOrder .productPrice {
      margin: 0 15px;
    }
  }
  
  @media (max-width: 1365px) {
    .productInfoWrapp .button {
      display: table;
      margin: 15px auto 0 auto;
    }
  }
  
  @media (max-width: 1500px) {
    .productInfoWrapp .button {
      //margin-left: 15px;
    }
  }
  
  @media (min-width: 1024px) {
    .productThumbnail:hover {
      z-index: 1;
    }
  }
  