@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');


.login__image {
    background-image: url('../../assets/images/picture-login.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.col-3 {
    margin: 250px auto;
}

h2 {
    margin-bottom: 35px;
    font-weight: 500;
}

.group {
    position: relative;
    margin-bottom: 30px;
}


input {
    font-size: 20px;
    padding: 10px;
    display: block;
    color: #ffffff;
    width: 320px;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
}

input:focus {
    outline: none;
}

  /* LABEL ======================================= */
label{
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    font-size: 24px;
    letter-spacing: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
  /* active state */
input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 18px;
    color: #5264AE;
    font-weight: 700;
}
  
  
  /* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 320px;
}

.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
.bar:before {
    left: 50%;
}
  
.bar:after {
    right: 50%;
}
  
  /* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}


#btn__sign__in {
    width: 70px;
    height: 40px;
    border: 1px solid transparent;
    float: left;
    background-color: transparent;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    letter-spacing: 8px;
    transition: .2s;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

#btn__sign__in:hover{ 
    color: #5264AE;
    transition: .2s;
    font-size: 27px;
}



.second__form__group, .text {
    display: none;
}



#btn__s, #btn__sign__up  {
    width: 320px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: .2s;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

#btn__s:hover, #btn__sign__up:hover {
    color: black;
    border: 2.6px solid #5264AE;
    color: #5264AE;
}

#btn__i {
    width: 110px;
    height: 40px;
    border: 1px solid transparent;
    float: left;
    background-color: white;
    margin-top: 30px;
    color: rgb(175, 175, 175);
    font-weight: 500;
    text-align: center;
    transition: .2s;
}

#btn__i:hover{ 
    color: rgb(122, 122, 122);
    transition: .2s;
    font-size: 17px;
}