@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.nav {
    display: flex;
    justify-content: space-around;
    outline: none;
    font-size: 24px;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}



.nav-link {
    color: rgb(88, 88, 88);
}

.nav :hover {
    color: rgb(44, 33, 206);
    transition: .2s;
}