<header>
    <div class="header__title">
        <div class="text">
            <h1 class="title__text">DELFO</h1>
            <h4 class="subtitle__text">Since 2020</h4>
            <h2 class="fastest__delivery">Найшвидша доставка Львова</h2>
        </div>
    </div>
</header>

<main>

    <div class="delivery__title">
        <div class="delivery" >
            <h1 class="delivery__text">Найпопулярніше у вашому місті</h1>
            <h2 class="delivery__subtext">Ознайомтеся з нашими продуктами - ми доставимо вам все, що забажаєте</h2>
        </div>
    </div>

    <div class="menu">

        <div class="cacao"></div>

        <div class="menu__text">
            <h1>Перегляньте</h1>
            <h2>Наше</h2>
            <h1 style="text-align: right">Меню</h1>
        </div>

        <div class="product">

            <div class="basil"></div>

            <div class="oil"></div>

            <div class="strawberries"></div>

            <div class="salad">
                <a [routerLink]="[ '/menu/salad']">
                    <img class="salad__image" src="assets/images/salad.png" alt="">
                </a>
            </div>

            <div class="pizza">
                <a [routerLink]="[ '/menu/pizza']">
                    <img class="pizza__image" src="assets/images/pizza.png" alt="">
                </a>
            </div>

            <div class="tomatoes"></div>

            <div class="pasta">
                <a [routerLink]="[ '/menu/pasta']">
                    <img class="pasta__image" src="assets/images/pasta.png" alt="">
                </a>
            </div>

            <div class="dessert">
                <a [routerLink]="[ '/menu/dessert']">
                    <img class="dessert__image" src="assets/images/dessert.png" alt="">
                </a>
            </div>


            <div class="lime"></div>
            <div class="egg"></div>
            <div class="chocolat"></div>
            <div class="cap"></div>

            <div class="sauce"></div>

            <div class="ravioli">
                <a [routerLink]="[ '/menu/ravioli']">
                    <img class="ravioli__image" src="assets/images/ravioli.png" alt="">
                </a>
            </div>

        </div>

    </div>

    <div class="about__us">
        <div class="about__us__title">
            <div class="about__us__block">
                <h1 class="about__us__text">Про нас</h1>
                <h5 class="about__us__subtext">DELFO — це незалежний сервіс служби доставки італійської кухні у Західній
                    Україні на
                    всі смаки та забаганки.
                    Ми прагнемо забезпечити своїх користувачів найкращими умовами для швидкого, зручного та якісного
                    здійснення
                    замовлень.</h5>
            </div>
        </div>
    </div>

    <div class="schedule">
        <h1 class="work__schedule">Графік роботи</h1>
        <div class="schedule__title">
            <div class="days">
                <h3>ПН - ПТ</h3>
                <h3>СБ - НД</h3>
            </div>
            <div class="hours">
                <h3>8:00 - 23:00</h3>
                <h3>10:00 - 22:00</h3>

            </div>
        </div>

        <div class="contact">
            <h2>Наші Контакти</h2>
            <h3> +380 (96) 19 66 986</h3>
        </div>

    </div>

    <div class="gg">
        <h1></h1>
    </div>

</main>