<!-- <header>

    <div class="header__title">
        <div class="text">
            <h1 class="title__text">DELFO</h1>
            <h4 class="subtitle__text">Since 2020</h4>
            <h2 class="fastest__delivery">Найшвидша доставка Львова</h2>
        </div>
    </div>
</header> -->

<main>

    <div class="delivery__title">
        <div class="delivery">
            <h1 class="delivery__text">Найпопулярніше у вашому місті</h1>
            <h2 class="delivery__subtext">Ознайомтеся з нашими продуктами - ми доставимо вам все, що забажаєте</h2>
        </div>
    </div>


    <div class="wrapper">
        <div *ngFor="let pizza of pizzaProducts" class="card">
            <div class="card-wrapper">
                <div class="pizza-card-item">
                    <div class="pizza-image">
                        <a [routerLink]="[ '/menu/' + pizza.category?.nameEN, pizza.id ]" class="image"
                            [style.backgroundImage]="'url(' + pizza.image + ')'"></a>
                    </div>
                    <div class="pizza-description">
                        <div class="pizza-name">
                            <h2 class="name">{{pizza.nameUA}}</h2>
                            <p class="description">{{pizza.description}}</p>
                        </div>


                        <div class="pizza-item-price-wrapper">
                            <div class="pizza-count">
                                <input type="text" maxlength="3" [value]="pizza.count" class="cart-item count-value">
                                <div class="cart-remove-add">
                                    <div class="count-plus" (click)="productCount(pizza, true)">+</div>
                                    <div class="count-minus" (click)="productCount(pizza, false)">-</div>
                                </div>
                            </div>

                            <div class="pizza-order">
                                <div class="price-weight">
                                    <div class="pizza-price"><span>{{pizza.price * pizza.count}}</span><i>грн</i></div>
                                    <div class="pizza-weight"><span>{{pizza.weight}}</span></div>
                                </div>
                                <button class="button add-to-cart-pizza" (click)="addToBasket(pizza)">Замовити</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="about__us">
        <div class="about__us__title">
            <div class="about__us__block">
                <h1 class="about__us__text">Про нас</h1>
                <h5 class="about__us__subtext">DELFO — це незалежний сервіс служби доставки італійської кухні у Західній
                    Україні на
                    всі смаки та забаганки.
                    Ми прагнемо забезпечити своїх користувачів найкращими умовами для швидкого, зручного та якісного
                    здійснення
                    замовлень.</h5>
            </div>
        </div>
    </div>



</main>














<!-- 


<div class="menu">

    <div class="cacao"></div>

    <div class="menu__text">
        <h1>Перегляньте</h1>
        <h2>Наше</h2>
        <h1 style="text-align: right">Меню</h1>
    </div>

    <div class="product">

        <div class="basil"></div>

        <div class="oil"></div>

        <div class="strawberries"></div>

        <div class="salad">
            <a [routerLink]="[ '/menu/salad']">
                <img class="salad__image" src="assets/images/salad.png" alt="">
            </a>
        </div>

        <div class="pizza">
            <a [routerLink]="[ '/menu/pizza']">
                <img class="pizza__image" src="assets/images/pizza.png" alt="">
            </a>
        </div>

        <div class="tomatoes"></div>

        <div class="pasta">
            <a [routerLink]="[ '/menu/pasta']">
                <img class="pasta__image" src="assets/images/pasta.png" alt="">
            </a>
        </div>

        <div class="dessert">
            <a [routerLink]="[ '/menu/dessert']">
                <img class="dessert__image" src="assets/images/dessert.png" alt="">
            </a>
        </div>


        <div class="lime"></div>
        <div class="egg"></div>
        <div class="chocolat"></div>
        <div class="cap"></div>

        <div class="sauce"></div>

        <div class="ravioli">
            <a [routerLink]="[ '/menu/ravioli']">
                <img class="ravioli__image" src="assets/images/ravioli.png" alt="">
            </a>
        </div>

    </div>

</div> -->




























<!-- <span class="product-count-minus" (click)="productCount(pizza, false)">
                            <img src="assets/images/minus.svg" alt="Count minus" class="minus">
                        </span>
                        <span class="product-quantity"> {{pizza.count}} </span>
                        <span class="product-count-plus" (click)="productCount(pizza, true)">
                            <img src="assets/images/plus.svg" alt="Count plus" class="plus">
                        </span> -->